:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 2rem;
    margin-top: 6rem;

}

.book-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--primary-color);
}

.book-author,
.book-genre,
.book-quantity {
    text-align: center;
    margin-bottom: 0.5rem;
}

.book-form {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: var(--background-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.status-message {
    text-align: center;
    color: var(--secondary-color);
    margin-top: 1rem;
}

.history-title {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.history-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.history-entry {
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.history-username,
.history-date {
    margin-bottom: 0.5rem;
}

@media (max-width: 48rem) {

    /* equivalent to 768px */
    .book-title {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }

    .history-title {
        font-size: 1.2rem;
    }
}

@media (max-width: 30rem) {

    /* equivalent to 480px */
    .main-content {
        padding: 1rem;
    }

    .book-title {
        font-size: 1.2rem;
    }
}