body {
    background-color: #282c34;
    color: #fff;
    font-family: Arial, sans-serif;
}

div {
    width: 80%;
    margin: 5vw auto;
    padding: 2vw;
    background-color: #1f2228;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 80%;
    padding: 2vh;
    margin: 1rem;
    border: none;
    border-radius: 1vw;
}

button {
    width: 10%;
    padding: 2vh;
    background-color: #61dafb;
    color: #282c34;
    font-size: 1rem;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    height: auto;
    overflow: hidden;
    z-index: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0 1rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0 .5rem;
}

nav ul li a:hover {
    /* background-color: #fff; */
    color: #6699CC;
}

nav form {
    display: flex;
    align-items: center;
}

nav form input[type="text"] {
    margin: 0 .5rem;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    background-color: #444;
    color: #fff;
}

nav form button[type="submit"] {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: .5rem;
    cursor: pointer;
}

nav form button[type="submit"]:hover {
    background-color: #666;
}

nav form select {
    margin: 0 .5rem;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    background-color: #444;
    color: #fff;
}

select {
    padding: 0.625em;
    font-size: 1em;
    border: 0.0625em solid #aaa;
    border-radius: 0.25em;
    appearance: none;
    /* This removes the default browser styling */
    background-color: #fff;
    color: #333;
    cursor: pointer;
    width: 80%;
}

select:hover {
    border-color: #888;
}

select:focus {
    outline: none;
    border-color: #007BFF;
}