body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
}

h1,
h2 {
    text-align: center;
    margin-top: 2rem;
}

p {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-width: 0;
}

button:hover {
    background-color: #ddd;
    cursor: pointer;
}

#history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    height: 10rem;
}

#history div {
    border: .1rem solid #ddd;
    padding: .5rem;
    margin: .5rem;
    width: 50%;
}

#history div p {
    margin: 0;
}