:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    background-color: #1e1e1e;
    align-self: center;
    margin-top: 6rem;

}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #333;
}

tr:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}