:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    background-color: #1e1e1e;
    border-radius: 0.5rem;
}

.form-container {
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.input-group {
    margin-bottom: 1rem;
}

input[type="username"],
input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #444;
    background-color: #333;
    color: var(--text-color);
    border-radius: 0.3rem;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: var(--background-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

.message {
    color: var(--primary-color);
}

.message a {
    color: var(--primary-color);
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}

@media (max-width: 30rem) {

    /* equivalent to 480px */
    .container {
        padding: 1rem;
    }
}