:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 6rem;

}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#messages {
    width: 100%;
    max-width: 600px;
    margin-top: 6rem;
    align-self: center;
}

.message {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #1e1e1e;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.message p {
    color: var(--primary-color);
}

@media (max-width: 30rem) {

    /* equivalent to 480px */
    .message {
        padding: 0.8rem;
    }
}