:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: var(--background-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}