{{ define "book-catalog" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Catalog</title>
  <link rel="stylesheet" href="/static/css/book-catalog.css">
  <link rel="icon" href="/static/img/icons/open-book.png" type="image/png">
</head>

<body>
  {{ if eq .Role "user" }}
  {{ template "user-navbar" .}}
  {{ if gt .Messages 0 }}
  <script>
    var n_messages = "{{ .Messages }}";
    alert('You have ' + String(n_messages) + ' new messages');
    var messagelink = document.getElementById('messages');
    messagelink.style.color = 'red';
  </script>
  {{ end }}
  {{ else }}
  {{ template "admin-navbar" .}}
  {{ end }}
  <main class="main-content">
    <h1 class="main-title">Book Catalog</h1>
    <div id="books" class="book-container">
      {{ if .Books }}
      {{ range .Books}}
      {{ if gt .Book.Quantity 0 }}
      <div class="book">
        <h2 class="book-title">
          {{ .Book.Title }}
        </h2>
        <p class="book-author">Author:
          {{ .Book.Author }}
        </p>
        <p class="book-genre">Genre:
          {{ .Book.Genre }}
        </p>
        <p class="book-status">
          {{ .Status }}
        </p>
        <button class="btn" onclick="viewBookDetails('{{ .Book.BookID.Int64 }}')">View Details</button>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </main>
  <script src="/static/js/book-catalog.js"></script>
</body>

</html>

{{ end }}