{{ define "borrowing-history" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Borrowing History</title>
  <link rel="stylesheet" type="text/css" href="/static/css/borrowing-history.css">
  <link rel="icon" href="/static/img/icons/open-book.png" type="image/png">

</head>

<body>
  {{ template "user-navbar" . }}
  <div class="container">
    <h1>Borrowing History</h1>
    <table>
      <tr>
        <th>Book ID</th>
        <th>Title</th>
        <th>Borrowed Date</th>
        <th>Returned Date</th>
      </tr>
      {{ range .BorrowingHistory}}
      <tr>
        <td>
          {{ .BookID.Int64 }}
        </td>
        <td>
          {{ .Title }}
        </td>
        <td>
          {{ .Borrowed_date }}
        </td>
        <td>
          {{ .Returned_date }}
        </td>
      </tr>
      {{ end }}
    </table>
  </div>
</body>

</html>

{{ end }}