<!DOCTYPE html>
<html>

<head>
  <title>Library Management System</title>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="icon" href="/static/img/icon/book.png" type="image/png">
</head>

<body>
  <header>
    <h1>Library Management System</h1>
  </header>
  <main>
    <section class="hero">
      <h2>Welcome to our Library!</h2>
      <p>Explore our vast collection of books, articles, and resources.</p>
      <button class="btn" id="login-btn">Login</button>
      <button class="btn" id="register-btn">Register</button>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Library Management System </p>
  </footer>

</body>
<script src="/static/js/index.js"></script>

</html>