{{ define "messages" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messages</title>
  <link rel="stylesheet" type="text/css" href="/static/css/messages.css">
  <link rel="icon" href="/static/img/icons/msg.png" type="image/png">
</head>

<body>
  {{ template "user-navbar" . }}
  <div id="messages">
    {{ if .Messages }}
    {{range .Messages }}
    <div class="message">
      {{ if eq .Request "admin" }}
      <p>Your request for admin Privileges has been {{.Status}}!</p>
      {{else}}
        <p>Your request for {{.Request}} of {{.Title}} has been {{.Status}}!</p>
        {{end}}
    </div>
    {{end}}
    {{ else }}
    <h1>No messages</h1>
    {{end}}
  </div>
</body>

</html>

{{ end }}