<html lang="en">

<head>
  <title>{{.Type}}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/sys-messages.css">
  <script src="/static/js/sys-messages.js"></script>
  <link rel="icon" href="/static/img/icons/book.png" type="image/png">
</head>

<body>
  <p>
    {{ .Message }}
  </p>
  <script>
    let img = document.createElement('img');
    img.src = '/static/img/sys-img/' + '{{.Type}}' + '.gif';
    document.body.appendChild(img);
  </script>
  {{if eq .Type "Warning"}}
  <button onclick="revenge()">Back to Home</button>
  {{else}}
    <button onclick="window.location.href='/books'">Back to Catalog</button>
    {{end}}
</body>

</html>